body { font-size: 22px; }
#buttonbar { position:fixed; bottom:1em; text-align:center; width:100%; }
#currentGame { border-collapse:collapse; margin:.5em auto 0px auto; width:33em; background-color:#fff; outline:.5em solid #ccc; padding:.5em; }
#currentGame td { height:7em; width:5.8em; }
#currentGame td.row0, #currentGame td.row1 { border-bottom: .75em solid #000; }
#currentGame td.col0, #currentGame td.col1 { border-right: .75em solid #000; }
#currentWrapper { text-align: center; margin-top:2em;}
#big03 { background-color:#000; }
#gamesWrapper, #settingsWrapper, #statsWrapper, #errorWrapper, #requestsWrapper, #helpWrapper {
   height:90%;
}
div.overlay { height:80%; background-color:rgba(0,100,255,.9); }
#gamesWrapper table.game { height:auto; width: 600px; font-size:1.5em; }
#gamesWrapper table.game td { vertical-align:middle; }
#gamesWrapper td.playerCell { width: 5em; }
.waiting {
   display:inline-block;
   padding: .5em 0;
    cursor: pointer;
    border-radius: 2em;
    border: 4px solid #e88;
    width: 8em;
    color: #fff;
    font-size: 1.2em;
    text-shadow: 1px 1px 1px rgba(0,0,0,.5);
    background-color: #a00;
    text-transform: uppercase;
    box-shadow: 3px 3px 3px rgba(0,0,0,.5);
    font-weight: bold;
    text-align:center;
}
.pickGame {
  background-color:#6e8; 
}
#invitesWrapper { background-color:#fff; height:90%; }
.button {
   height:6em;
   width:6em;
}
.button img {
   height:6em;
   width:6em;
}
h1 {
   font-family: "Fontdiner Swanky";
   font-size: 4em;
   color:#0088ee;
   -webkit-text-stroke: 0.7px #fff;
}
#player1, #player2 { width: 6em; }
#gameboard td > table.activeGame {
   transition: all 750ms cubic-bezier(0.18, 1.275, 0.425, 1.51) 10ms;
   transform: scale(3.8);
}
#gameboard td > table {
   background-color:#fff;
}
#gameboard td.disabled > table {
   background-color:initial;
}
#gameboard td.game_cell > table.game, .game_cell { 
   transition: all 300ms cubic-bezier(0.18, -.175, 0.425, 1.31);
}
table#gameboard td > table.hop { transform: scale(2); outline: .5em solid #ff0000; z-index:99999;}
#gameboard td#container00 > table.activeGame { transform: scale(3.2) translate(52px, 210px); }
#gameboard td#container01 > table.activeGame { transform: scale(3.2) translate(3px, 210px); }
#gameboard td#container02 > table.activeGame { transform: scale(3.2) translate(-52px, 210px); }
#gameboard td#container10 > table.activeGame { transform: scale(3.2) translate(52px, 160px); }
#gameboard td#container11 > table.activeGame { transform: scale(3.2) translate(3px, 160px); }
#gameboard td#container12 > table.activeGame { transform: scale(3.2) translate(-52px, 160px); }
#gameboard td#container20 > table.activeGame { transform: scale(3.2) translate(52px, 110px); }
#gameboard td#container21 > table.activeGame { transform: scale(3.2) translate(0px, 110px); }
#gameboard td#container22 > table.activeGame { transform: scale(3.2) translate(-52px, 110px); }
#gameboard td.disabled > table.activeGame { background-color:#fff; }
#gameboard td > table.activeGame { border-width:.25em; }
#spotlight { 
   position:absolute; 
   z-index: 9998;
   transition: height 300ms cubic-bezier(0.18, -.175, 0.425, 1.51);
   display:inline-block;
   overflow:hidden;
   height:0px;
}
#spotlight.s00 { top:2.6em; left:5.5em; width:520px; height:440px; }
#spotlight.s01 { top:2.5em; left:6em;  width:585px; height:445px; }
#spotlight.s02 { top:2.7em; left:8em;  width:530px; height:440px; }
#spotlight.s10 { top:13.5em; left:4em; width:588px; height:245px; }
#spotlight.s11 { top:12em; left:5.5em;  width:590px; height:272px; }
#spotlight.s12 { top:12.2em; left:8em;  width:525px; height:272px; }
#spotlight.s20 { top:22em; left:5.5em; width:534px; height:100px; }
#spotlight.s21 { top:22em; left:5em; width:584px; height:100px; }
#spotlight.s22 { top:21.7em; left:6.5em; width:590px; height:100px; }
div#spotlight img { display: none; }
div#spotlight.s00 img#s00 { width:520px; height:440px; display: inline; }
div#spotlight.s01 img#s01 { width:520px; height:445px; display: inline; }
div#spotlight.s02 img#s02 { width:520px; height:440px; display: inline; }
div#spotlight.s10 img#s10 { width:530px; height:245px; display: inline; }
div#spotlight.s11 img#s11 { width:525px; height:272px; display: inline; }
div#spotlight.s12 img#s12 { width:525px; height:272px; display: inline; }
div#spotlight.s20 img#s20 { width:534px; height:100px; display: inline; }
div#spotlight.s21 img#s21 { width:524px; height:100px; display: inline; }
div#spotlight.s22 img#s22 { width:525px; height:100px; display: inline; }
table.players {
   font-size:1.8em;
}
.field { font-size:.8em; }
.val {font-size:.8em; text-align:right;}
#spinner {
   top:250px;
}
#toptitle { display:none; }
